{% extends "base.html" %}

 {% comment %} <style>
    .img {
   
    width:  100px;
    height: 100px;
    object-fit: cover;
}
</style>  {% endcomment %}

 
{% block content %}

    <div class="col-md-12">
        <form class="form-inline">
            <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
       <a class="btn btn-outline-success" href="{% url 'manage' %}">Add Photo</a>
    </div> 
 

   {% comment %} <div class="card mt-3 col-md-4">
        <div class="card-header">
            Categories
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> All</li>
            {% for category in categories %}

             <li class="list-group-item">{{ category.name }}</li>

            {% endfor %}
        </ul>
    </div>  {% endcomment %}


    <div class="card mt-3 col-md-4">
        <div class="card-header">
            Location
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
           
            {% for location in locations %}

             <li class="list-group-item">
                  <a href="{% url 'home' %}?location={{location.name}}">
                      {{ location.name }}</a>

                  </li>

            {% endfor %}
        </ul>
    </div> 

        <div>
            <div class="row">
                {% for photo in photos %}
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <img style="object-fit:cover;" src="{{photo.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <small>Category: {{photo.category.name}}</small>
                        </div>
                        
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>

                {% empty %}
                <div class="container mt-2">
                <h5>Ooops! Gallery empty</h5>
                </div>
                {% endfor %}

            </div>
        </div>




{% endblock content %}

