{% extends "base.html" %}

 <style>
    .img-thumbnail{
        height:200px;
        width:200px;
       
    }

</style> 



{% block content %}
    <div>
        <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Fliq Galeria</a>
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'manage' %}">Manage Photos</a>
        </div>
        <form class="form-inline">
            <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </nav>
    </div> 


    
   <div class="card mt-3 col-md-3">
        <div class="card-header">
            Categories
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> All</li>
            {% for category in categories %}

             <li class="list-group-item">{{ category.name }}</li>

            {% endfor %}
        </ul>

    </div> 

        <div class="col-md-9">
            <div class="row">
                {% for photo in photos %}
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <img class="img-thumbnail" src="{{photo.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <small>Category: {{photo.category.name}}</small>
                        </div>
                        
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>

                {% empty %}
                <h3>Ooops!Gallery empty</h3>

                {% endfor %}

            </div>
        </div>




{% endblock content %}

